h1{
    text-align: center;
}

p{
    text-align: center;
    font-family: Arial Black, serif;
    font-size: 16px;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button1 {
    position: absolute;
    top: 60%;
    left: 80%;
    height: 3%;
    width: 8%;
}

.button2 {
    position: absolute;
    top: 60%;
    left: 70%;
    height: 3%;
    width: 8%;
}

.button3 {
    position: absolute;
    top: 60%;
    left: 60%;
    height: 3%;
    width: 8%;
}

.button4 {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 3%;
    width: 8%;
}